<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario - Zona Gamer</title>
    <link rel="preload" href="/css/normalize.css" as="style">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/css/style.css" as="style">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/3a84dfeae6.js" crossorigin="anonymous"></script>    
    <script src="https://kit.fontawesome.com/89cdafc43a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style-register.css">
   
</head>

<body>    
    <!--***CABECERA****-->
    <head>
        <div class="contenedor-img">
            <img src="/images/nav_amd.png" class="img-header">
            <img src="/images/nav_corsair.png" class="img-header">
            <img src="/images/nav_geforce.png" class="img-header">
            <img src="/images/nav_intel.png" class="img-header">
            <img src="/images/nav_logitech.png" class="img-header">
            <img src="/images/nav_trust.png" class="img-header">
        </div>
        <div class="contenedor-img-top">
            <img src="/images/Logo_Zona_Gamer_SinFondo.png" class="logo">
            <input class="input-navbar" type="search" name="busqueda" placeholder="Buscar productos, Marcas">
            <section class="section-redsocial">
                <h2>Facebook</h2>
                <h2>Instagram</h2>
                <h2>Twitter</h2>
            </section>
        </div>
        <div>
            <nav class="nav-login">
                <a href="#" class="nav-logo">Zona Gamer</a>
                <div>
                    <a href="#" class="nav-link">Login</a>
                    <a href="/registro" class="nav-link">Registo</a>
                    <a href="#" class="nav-link">Compras</a>
                </div>
            </nav>
        </div>
    </head>
    <!--*** FIN CABECERA ****-->

    <!--*** CUERPO PRINCIPAL ****-->
    <main>             
         
        <section class="signup-group">    
          <section class="container-titulo-form">
            <h2><span class="semi-bold">Crearás tu cuenta en -Zona Gamer-</span> Disfrútala YA!!</h2>
          </section>
    
          <section class="form-container">
            <form action="/">
              <div>
                <i class="fa-regular fa-user"></i>
                <label>*Nombre</label>
                <input type="text" id="signup-firstname" placeholder="Nombre">                
              </div>
              <div>
                <i class="fa-solid fa-signature"></i>
                <label>*Apellido</label>
                <input type="text" id="signup-lastname" placeholder="Apellido">                
              </div>
              <div>
                <i class="fa-regular fa-envelope"></i>
                <label>E-mail</label>
                <input type="email" id="signup-email" placeholder="Correo Electrónico">                
              </div>
              <div>               
                <i class="fa-regular fa-id-badge"></i>              
                <label>*Nombre de Usuario</label>
                <input type="text" id="signup-username" placeholder="Nombre de usuario">                
              </div>
              <div>
                <i class="fa-solid fa-key"></i>
                <label>*Contraseña</label>
                <input type="password" id="signup-password" placeholder="Ingrese un contraseña">                
              </div>    
              <div>
                <i class="fa-solid fa-spell-check"></i>
                <label>*Confirmar Contraseña</label>
                <input type="password" id="signup-password" placeholder="Confirmar la contraseña asignada">                
              </div>    
              <input class="button" id="signup-submit" type="submit" value="Resgistrarse">       
            </form>
    
            <p class="terminos">Al dar clic -Registrarse-, estás aceptando nuestros <span>Términos y Condiciones</span></sub>
          </section>
    
        </section>
        <section>
            <header class="informacion-lateral">
                <h1>¿Qué beneficios tenés al registarte?</h1>
                <p><i class="fa-solid fa-cart-plus">  </i> Compra protegida. Si tu compra no es lo que querías, te devolvemos tu dinero.</p><br>
                <p><i class="fa-solid fa-truck-fast">  </i> Envío rápido y gratis. Con envíos rápidos compras hoy y recibes gratis entre 24 y 48 hrs en productos seleccionados.</p><br>
                <p><i class="fa-solid fa-tags">  </i> 95% productos nuevos. Descubre miles de productos nuevos en nuestras Tiendas Oficiales.</p>                
              </header>
        </section>                   
      </main>
    <!--*** FIN CUERPO PRINCIPAL ****-->

    <!--*** FOOTER ****-->
    <footer>
        <div>
            <nav class="nav-login">
                <a href="#" class="nav-logo">Zona Gamer</a>
                <div>
                    <a href="#" class="nav-link">Nosotros</a>
                    <a href="#" class="nav-link">Contacto</a>
                </div>
            </nav>
        </div>
    </footer>
    <!--*** FIN FOOTER ****-->
</body>
</html>
