<footer class="footer footer__dt">
    <div class="contenedor-footer contenedor-footer__dt">
        <div class="barra">
            <a class="logo" href="/">
                <h1 class="logo-nombre">Zona <span class="logo-bold">Gamer</span></h1>
            </a>
            <nav class="navegacion">
                <a href="nosotros.html" class="navegacion-enlace">Nosotros</a>
                <a href="/products/carrito" class="navegacion-enlace">Carrito</a>
                <a href="/users/contacto" class="navegacion-enlace">Contacto</a>
            </nav>
        </div><!-- barra -->
    </div><!-- contetenedor -->
</footer>