<footer class="footer footer__dt">
    <div class="contenedor-footer contenedor-footer__dt">
        <div class="barra">
            <a class="logo" href="/">
                <h1 class="logo-nombre">Zona <span class="logo-bold">Gamer</span></h1>
            </a>
            <nav class="navegacion">
                <a href="/users/contacto" class="navegacion-contacto">ventas@zonagamer.com / contacto@zonagamer.com</a>
            </nav>
            <a class="navegacion-enlace">Copyright@ Todos los dercehos reservados 2022</a>
        </div>
    </div>
</footer>