<header class="main-header">
    <div class="contenedor1">
        <div class="logo-svg">
            <a href="/"><img src="/images/Logo_Zona_Gamer.svg" alt="imagen logo"></a>
        </div>
    </div>
    <div class="contenedor2">
        <div class="contenedor2-1">
            <div class="contenedor-barra">
                <input class="barraBusqueda" size="30" type="search" name="busqueda" placeholder="¿qué estás buscando?">
            </div>
            <nav>
                <ul class="nav-bar">
                    <li><a href="/users/registro">Crea tu Cuenta</a> <i class="fa fa-solid fa-address-card"></i></li>
                    <li><a href="/users/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i> </li>
                    <li><a href="/products/carrito">Mis Compras</a> <i class=" fa fa-solid fa-basket-shopping"> </i>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="contenedor-img">
            <img src="/images/nav_amd.png" class="img-header">
            <img src="/images/nav_corsair.png" class="img-header">
            <img src="/images/nav_geforce.png" class="img-header">
            <img src="/images/nav_intel.png" class="img-header">
            <img src="/images/nav_logitech.png" class="img-header">
            <img src="/images/nav_trust.png" class="img-header">
        </div>
    </div>
</header>