<header class="main-header">
    <div class="contenedor1">
        <div class="logo-svg">
            <a href="/"><img src="/images/header/Logo_Zona_Gamer.svg" alt="imagen logo"></a>
        </div>
    </div>
    <div class="contenedor2">
        <div class="contenedor2-1">
            <div class="contenedor-barra">
                <!-- <input class="barraBusqueda" size="30" type="search" name="busqueda" placeholder="¿qué estás buscando?"> -->
                <h1 class="tituloHeader">Un sitio hecho para vos!!!</h1>
            </div>
            <nav>
                <ul class="nav-bar">
                    <% if (locals.estaLogeado) { %>
                    <div class="nav-bar-user">
                        <li>
                            <a href="/users/perfil/<%= locals.usuarioLogeado.ID_usuario %>">
                                <img src="/images/avatars/<%= locals.usuarioLogeado.imagenPerfil %>" width="40"
                                    style="border-radius: 100%;">
                                Hola <%= locals.usuarioLogeado.nombre %></a>
                            </a>
                    </div>
                    <div class="nav-bar-user">
                        <ul>
                            <a href="/users/perfil/<%= locals.usuarioLogeado.ID_usuario %>">Mi Perfil</a>
                            <li>
                                <hr class="lineaDivisoria">
                            </li>
                            <a href="/users/logout">Logout</a>
                        </ul>
                        </li>
                    </div>
                    <% } else { %>
                    <div class="enlaces">
                        <li class="enlaces"><a href="/products">Productos</a> <i class="fa fa-solid fa-store"></i> </li>
                        <li class="enlaces"><a href="/users/registro">Registro</a> <i
                                class="fa fa-solid fa-address-card"></i> </li>
                        <li class="enlaces"><a href="/users/login">Login</a> <i class="fas fa-sign-in-alt"></i> </li>
                    </div>
                    <% } %>
                </ul>
            </nav>
        </div>
        <div class="contenedor-img">
            <img src="/images/header/nav_amd.png" class="img-header">
            <img src="/images/header/nav_corsair.png" class="img-header">
            <img src="/images/header/nav_geforce.png" class="img-header">
            <img src="/images/header/nav_intel.png" class="img-header">
            <img src="/images/header/nav_logitech.png" class="img-header">
            <img src="/images/header/nav_trust.png" class="img-header">
        </div>
    </div>
</header>