<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario - Zona Gamer</title>
  <link rel="preload" href="/css/normalize.css" as="style">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preload" href="/css/style-register.css">
  <link rel="stylesheet" href="/css/style-register.css">
  <script src="https://kit.fontawesome.com/3a84dfeae6.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/89cdafc43a.js" crossorigin="anonymous"></script>
  <link rel="preload" href="/css/style.css">
  <link rel="stylesheet" href="/css/style.css">
</head>


<body>
  <!--***CABECERA****-->
  <%- include('../partials/header')%>

  <!--*** FIN CABECERA ****-->

  <!--*** CUERPO PRINCIPAL ****-->
  <main>

    <section class="signup-group">
      <section class="container-titulo-form">
        <h2><span class="semi-bold">Agregando Nuevo Producto</span></h2>
      </section>

      <section class="form-container">
        <form action="./" method="POST" enctype="multipart/form-data">
          <div>
            <i class="fa-solid fa-computer"></i>
            <label>*Nombre del Producto</label>
            <input name="name" type="text" id="signup-firstname" placeholder="Nombre nuevo del producto">
          </div>
          <div>
            <i class="fa-solid fa-circle-info"></i>
            <label>*Descripción del Producto</label>
            <textarea name="description" rows="3" cols="53" placeholder="Descrioción del nuevo producto"></textarea>
          </div>
          <div>
            <i class="fa-solid fa-camera"></i>
            <label>*Imagen del Producto</label>
            <input type="file" id="imagenProducto" name="imagenProducto" accept="image/*"
              title="Seleccionar la imagen del nuevo producto">
          </div>

          <div>
            <i class="fa-solid fa-list-check"></i>
            <label>*Categoría del Producto</label><br>
            <select name="category">
              <option value="">Seleccionar...</option>
              <option value="1">Auriculares</option>
              <option value="2">Coolers</option>
              <option value="3">Discos Rigidos</option>
              <option value="4">Gabinetes</option>
              <option value="5">Memorias</option>
              <option value="6">Monitores</option>
              <option value="7">Motherboards</option>
              <option value="8">Periféricos</option>
              <option value="9">Placas de Video</option>
              <option value="10">Procesadores</option>
              <option value="11">SSD</option>
              <option value="12">Teclados</option>
            </select>
          </div>
          <div>
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <label>*Precio del Producto</label>
            <input name="price" type="number" id="precio-producto"
              placeholder="Detalle el precio al público, incluir puntos">
          </div>
          <div>
            <i class="fa-solid fa-percent"></i>
            <label>*Descuento del Producto</label>
            <input name="discount" type="number" id="precio-producto" placeholder="descuento por pago en efectivo">
          </div>
          <div>
            <i class="fa-solid fa-clock-rotate-left"></i>
            <label>*Garantía del Producto (meses)</label>
            <input name="warranty" type="number" id="garantia-producto"
              placeholder="Detalle los meses de garantía del producto">
          </div>
          <div>
            <i class="fa-regular fa-calendar-check"></i>
            <label>*Fecha de Ingreso</label>
            <input name="date" type="date" id="signup-firstname" placeholder="Nombre nuevo del producto">
          </div>
          <div>
            <i class="fa-regular fa-circle-check"></i>
            <label>*Estado del Producto</label><br>
            <select name="status">
              <option value="">Seleccionar...</option>
              <option value="true">Activo</option>
              <option value="false">Inactivo</option>
            </select>
          </div>

          <input class="button" id="signup-submit" type="submit" value="Agregar Nuevo Producto">
        </form>

        <p class="terminos">Al dar clic -Agregar-, estás adicionando un nuevo producto al público </p>
      </section>

    </section>
    <section>
      <header class="informacion-lateral">
        <h1>Tener en Cuenta al Agregar Productos</h1>
        <p><i class="fa-solid fa-circle-info"> </i> Descripción del Producto. Describa la características más relevantes
          del producto que se mustrarán al público.</p><br>
        <p><i class="fa-solid fa-file-invoice-dollar"> </i> Tener en cuenta al detallar el Precio al Público del
          Producto, debe expresarlo solo numeros e incluir puntos.</p><br>
        <p><i class="fa-solid fa-clock-rotate-left"> </i> Debe expresar el número de meses que tendrá de garantía el
          nuevo producto.</p>
      </header>
    </section>
  </main>
  <!--*** FIN CUERPO PRINCIPAL ****-->

  <!--*** FOOTER ****-->

  <%- include('../partials/footer')%>

  <!--*** FIN FOOTER ****-->
</body>

</html>