<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

<body>
  <!--***CABECERA****-->

  <%- include('../partials/header')%>

  <!--*** FIN CABECERA ****-->

  <!--*** CUERPO PRINCIPAL ****-->
  <main>

    <div class="contenedor_principal">

      <h2 class="titulo">Buscar Producto por ID</h2>

      <div class="contenedor_form">

        <div class="form_agregar_producto">

          <form action="/products/buscar" method="POST" name="form-login" class="formBP">

            <div>
              <i class="fa-solid fa-computer"></i>
              <label>*Ingrese ID del Producto</label>
              <input name="ID_products" type=" text" id="id" placeholder="ID" class="id">
              <% if (locals.errors && errors.ID_products) { %>
              <div class="text-danger">
                <%= errors.ID_products.msg %>
              </div>
              <% } %>
            </div>

            <button class="button" id="signup-submit" type="submit" value="Buscar Producto">
              Buscar Producto
            </button>

          </form>

          <p class="terminosBuscar">Para ingresar como administrador ingresar con admin/adminr. <span> Para Ir a
              agregar/editar productos</span> </p>

          <div class="errores">
            <ul></ul>
          </div>

        </div>

        <div class="form_info">

          <header class="informacion-lateral">
            <p><i class="fa-solid fa-circle-info"> </i> Descripción del Producto. Describa la características más
              relevantes
              del producto que se mustrarán al público.</p>
            <p><i class="fa-solid fa-file-invoice-dollar"> </i> Tener en cuenta al detallar el Precio al Público del
              Producto, debe expresarlo solo numeros e incluir puntos.</p>
          </header>

        </div>

      </div>

    </div>

  </main>
  <!--*** FIN CUERPO PRINCIPAL ****-->

  <!--*** FOOTER ****-->

  <%- include('../partials/footer')%>

  <!--*** FIN FOOTER ****-->

  <script src="/js/validarBP.js"></script>

</body>

</html>