<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buscar Producto - Zona Gamer</title>
  <link rel="preload" href="/css/normalize.css" as="style">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preload" href="/css/style-register.css">
  <link rel="stylesheet" href="/css/style-register.css">
  <script src="https://kit.fontawesome.com/3a84dfeae6.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/89cdafc43a.js" crossorigin="anonymous"></script>
  <link rel="preload" href="/css/style.css">
  <link rel="stylesheet" href="/css/style.css">
</head>


<body>
  <!--***CABECERA****-->

  <%- include('../partials/header')%>

  <!--*** FIN CABECERA ****-->

  <!--*** CUERPO PRINCIPAL ****-->
  <main>

    <section class="signup-group">
      <section class="container-titulo-form">
        <h2><span class="semi-bold">Buscar Producto por ID</h2>
      </section>

      <section class="form-container">
        <form action="/products/buscar" method="POST" name="form-login">
          <div>
            <i class="fa-solid fa-magnifying-glass"></i>
            <label>*Ingrese ID Producto</label>
            <input type="text" id="signup-username" name="ID_products" placeholder="ID">
          </div>

          <input class="button" id="signup-submit" type="submit" value="Buscar">
        </form>

        <p class="terminos">Al dar clic -Buscar-, estás buscando un producto por su ID </p>
      </section>

    </section>
    <section>
      <header class="informacion-lateral">
        <h1>Tener en Cuenta al Buscar Productos</h1>
        <p><i class="fa-solid fa-circle-info"> </i> ID: Para buscar un producto debes conocer previamente su ID. </p>
      </header>
    </section>
  </main>
  <!--*** FIN CUERPO PRINCIPAL ****-->

  <!--*** FOOTER ****-->

  <%- include('../partials/footer')%>

  <!--*** FIN FOOTER ****-->
</body>

</html>