<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<title>BIENVENIDOS A ZONA GAMER</title>
</head>

<body>

    <header>

        <div class="contenedor-img">
            <img src="https://www.intel.la/content/dam/logos/intel-header-logo.svg" class="img-header">

            <img src="https://www.amd.com/themes/custom/amd/images/logo_white.svg" class="img-header">

            <img src="https://redragon.es/content/uploads/2021/04/logo.svg" class="img-header">

            <img src="https://hybrismedianonprods1.blob.core.windows.net/sys-master-phoenix-images-container/h6c/h6b/9559620911134/razer-ths-logo.svg" class="img-header">

            <img src="https://www.asus.com/media/Odin/images/header/rog-gray_h.svg" class="img-header">

            <img src="https://www.hyperxgaming.com/Themes/HyperX/images/logos/Hyperx-logo-lg.svg" class="img-header">
        </div>

        <div class="contenedor-img-top">
            <img src="/images/Logo_Zona_Gamer_SinFondo.png" class="logo">
            <input class="input-navbar" type="search" name="busqueda" placeholder="Buscar productos, Marcas">
            <section class="section-redsocial">
                <h2>Facebook</h2>
                <h2>Instagram</h2>
                <h2>Twitter</h2>
            </section>
        </div>

        <div>
            <nav class="nav-login">
                <a href="#" class="nav-logo">Zona Gamer</a>
                <div>
                    <a href="#" class="nav-link">Login/Registo</a>
                    <a href="#" class="nav-link">Compras</a>
                </div>
            </nav>
        </div>
    </header>

    <main class="contenedor-main">
      <div class="titulo">
        <h2>RYZEN 5 5600 G</h2>
        <img src="https://http2.mlstatic.com/D_NQ_NP_717692-MLA40182401049_122019-O.webp" alt="LOGO"/>
      </div>
        
        
        
        <div class="precio">
          <h4>$54.000</h4>
          <h6>o 12 cuotas sin interes de $4.500</h6>
        </div>
        
        <div class="iconos">
          
          <p class="carrito"><a href="#">
            <i class="fas fa-shopping-cart"></i></a>
          </p>
          
          <p class="corazon"><a href="#">
            <i class="fas fa-heart"></i></a>
          </p>
            
          <p class="compartir"><a href="#">
            <i class="fas fa-share-alt"></i>
            </a>
          </p>
        </div>
        
        <section class="descripcion">
<p>
Cuando cuentas con la arquitectura de procesadores más avanzada del mundo para jugadores y creadores de contenido, las posibilidades son infinitas.<br/> 
Ya sea que juegues los juegos más recientes, diseñes el próximo rascacielos o proceses datos, necesitas un procesador poderoso que pueda dar respuesta a todas estas demandas, y más.<br/>
Sin lugar a dudas, los procesadores para computadoras de escritorio AMD Ryzen™ serie 5000 elevan el nivel de expectativa para jugadores y artistas por igual.
</p>
</section>
        
        <div class="caracteristica">
          
          <h4>CARACTERISTICAS</h4>
          
          <div>Familia de productos: AMD Ryzen™ Processors</div>
          <div>Línea de productos: AMD Ryzen™ 5 5000 G-Series Desktop Processors with Radeon™ Graphics</div>
          <div>N.° de núcleos de CPU: 6</div>
          <div>N.° de subprocesos: 12</div>
          <div>Reloj base: 3.9GHz</div>
          <div>Paquete AM4</div>
          <div>Fecha de lanzamiento: 4/13/2021</div>
          
          <h4>CONECTIVIDAD</h4>
          
          <div>Gráficos integrados: SI</div>
          <div>Modelo de gráficos: Gráficos Radeon™</div>
          <div>Recuento de núcleos de gráficos: 7</div>
          <div>Frecuencia de gráficos: 1900MHZ</div>
    </div>

    </main>

  </body>

</html>