<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Zona Gamer</title>
    <link rel="preload" href="/css/normalize.css" as="style">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/css/style.css" as="style">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/3a84dfeae6.js" crossorigin="anonymous"></script>

</head>

<body>

    <%- include('../partials/header')%>

    <main class="contenedor__dt">
        <h1 class="titulo__producto__dt">Detalle del Producto</h1>
        <div class="producto__dt">
            <img class="producto__imagen__dt" src="/images/monitor05.png" alt="imagen monitor01">
            <div class="producto__informacion__dt">
                <p class="producto__nombre__dt">Monitor LG 19</p>
                <p class="producto__precio__dt">$15.000</p>
                <div class="contenedor__producto__desc__dt">
                    <h3>Descripción</h3>
                    <p class="producto__desc__dt">
                        * Cuando cuentas con la arquitectura de procesadores más avanzada del mundo para jugadores y
                        creadores de contenido, las posibilidades son infinitas.<br />
                        * Ya sea que juegues los juegos más recientes, diseñes el próximo rascacielos o proceses
                        datos,
                        necesitas un procesador poderoso que pueda dar respuesta a todas estas demandas, y más.<br />
                        * Sin lugar a dudas, los procesadores para computadoras de escritorio AMD Ryzen™ serie 5000
                        elevan el nivel de expectativa para jugadores y artistas por igual.
                    </p>
                </div>
                <div class="contenedor__producto__carac__dt">
                    <h3>Caracteristicas</h3>
                    <p class="producto__carac__dt">
                        * Cuando cuentas con la arquitectura de procesadores más avanzada del mundo para jugadores y
                        creadores de contenido, las posibilidades son infinitas.<br />
                        * Ya sea que juegues los juegos más recientes, diseñes el próximo rascacielos o proceses datos,
                        necesitas un procesador poderoso que pueda dar respuesta a todas estas demandas, y más.<br />
                        * Sin lugar a dudas, los procesadores para computadoras de escritorio AMD Ryzen™ serie 5000
                        elevan el nivel de expectativa para jugadores y artistas por igual.
                    </p>
                </div>
            </div>
        </div>
    </main>

    <%- include('../partials/footer')%>

</body>

</html>