<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Usuario - Zona Gamer</title>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/1dd1823b70.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.google.com/share?selection.family=Ubuntu" rel="stylesheet">
</head>

<body>

        <!--CAJAS HEADER-->

        <%- include('../partials/header')%>

        <main>

                <h4>LISTA DE USUARIOS</h4>

        </main>

        <!--*** FIN CUERPO PRINCIPAL ****-->

        <!--*** FOOTER ****-->

        <%- include('../partials/footer')%>

        <!--*** FIN FOOTER ****-->

</body>