*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
  background-color: #101217;
}
/*CAJAS HEADER*/
h1{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    font-size: 20px;
    color: #109dfa;
    text-align: center;
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h3{
    color: lightslategrey;
    font-size: 20px;
    text-align: center;
}
h4{
    font-size: 20px;
    color: #109dfa;
    text-align: center;
    margin: 8%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.headerlogin{
  background-color: black;
  height: 130px;
  display: flex;
  flex-direction: row;
}
.cajaimagen{ 
  background-color: black;
  width: 35%;
}
.cajaimagen img{
  width: 129px;
  
}
.cajalinks{ 
  width:35%;
  color: #109dfa;
  display: flex;
  
}
/*CAJA HIJO DE CAJA LINKS*/
.texto1{
  width: 33%;
  font-size: 20px;
  margin-top: auto;
  
}
.texto2{
  width: 33%;
  font-size: 20px;
  margin-top: auto;
}
.texto3{
  width: 33%;
  font-size: 20px;
  margin-top: auto;
}
/*///////*/

.cajaredes{
  color: #109dfa;
  font-size: 28px;
  margin: auto;
  margin-bottom: 5px;
  width: 344px;
}
.cajaregistro{
  width: 10%;
  color: #109dfa;
  margin: auto;
  margin-bottom: 5px;
  text-align: left;
}
/*RGB*/
.cajargb{
  height: 2px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(150deg, #3502eb, #02f122, #fd46f4, #3502eb);
  background-size: 50% 70%;
  animation: BgGradient 2s ease infinite;
}
@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-color: 100% 50%;}
    100% {background-color: 0% 50%;}  
} 
/*CAJAS*/
.padre{
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.hijo1{
<<<<<<< HEAD
    width: 33%;
    background-color: #101217;
=======
     padding: 2%;
     width: 43%;
     background-color: #101217;
>>>>>>> 7fe28fb6193e2b2f3d51f33a8436177e6506bbd6
}
.hijo2{
    text-align: center;
    width: 77%;
    justify-content: center;
    background-color: #101217;
}
/*CAJA HIJO 2*/
.beneficios{
  background-color: #101217;
  margin: 15%;
  height: 45%;
  width: 61%;
  border-color: #109dfa;
  border-radius: 20px;
  border-style: solid;
}
/*CAJAS HIJO BENEFICIOS*/
.beneficio1{
  color: #109dfa;
  font-size: 20px;
  margin: 5%;
}
.beneficio2{
  color: #109dfa;
  font-size: 20px;
  margin: 5%;
}
.beneficio3{
  color: #109dfa;
  font-size: 20px;
  margin: 5%;

}
.beneficio4{
  color: #109dfa;
  font-size: 20px;
  margin: 5%;

}
.beneficio5{
  color: #109dfa;
  font-size: 20px;
  margin: 5%;

}
/*/////*/

/*CAJAS HIJO 1*/
.fotologin{
    width: 100px;
    height: 100px;
    background-color: none;
    border-radius: 50%;
    margin: auto;
    border-color: #109dfa;  
}
h7{
  color: #109dfa;
  font-size: 110px;
}
.email{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.contraseña{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 27px;
}
input{
    width: 60%;
    padding: 3%;
    background-color: black;
    height: 29px;
    border-color: #109dfa;
    border-radius: 20px;
    color: white;
    justify-content: space-between;
    display: flex;
}
.botones{
    display: flex;
    flex-direction:column;
    color: #109dfa;
    font-size: 26px;
    position: relative;
    left:30%; 
}
h5{
  position: relative;
  justify-content: space-between;
  display: flex;
  margin: 12px;
}
h6{
  font-size: 12px;
  position: relative;
  left: 11%;
  margin-top: -29px;
}
/*///////*/
