@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap);

* {
    box-sizing: border-box;   
    font-family: 'Ubuntu', sans-serif;   
}


:root {
    /* Colors */
    --cPrimary-red: hsl(0, 100%, 74%) ;
    --cPrimary-green: hsl(154, 59%, 51%);
    --cSecondary-darkerGreen: hwb(61 10% 3%);
    --cAccent-blue: hsl(248, 32%, 49%);
    --cNeutral-dark: hsl(249, 10%, 26%);
    --cTransparent-dark: rgba(219, 207, 207, 0.25);
    --cNeutral-light: hsl(246, 25%, 77%);
    --background-dark: #222222;
    

    /* Font weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semiBold: 600;
    --fw-bold: 700;

    /* Drop shadows */
    --ds-blackNoblur: drop-shadow(10px 10px 10px var(--cTransparent-dark));
    --ds-greenNoblur: drop-shadow(0px 5px 0px var(--cSecondary-darkerGreen));

    /* Font sizes */
    --fs-0: 0.800rem;
    --fs-1: 1.000rem;
    --fs-2: 1.250rem;
    --fs-3: 1.563rem;
    --fs-4: 1.953rem;
    --fs-5: 3.052rem;

}

/* ------------------------------ */
/* ESTRUCTURA FORMULARIO*/
/* ------------------------------ */

main {    
    background: var(--background-dark);
    color: #fff;
    line-height: 1.6;    
    padding: 0 1.5em;
}
h2 {    
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 2.5rem;
}
.contenedor_principal {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.contenedor_form {    
    width: 100%;
    padding: 1rem;    
    border-radius: 10px;
    filter: var(--ds-blackNoblur);       
    margin-bottom: 2rem;    
}
.contenedor_form > * {
    padding: 1rem;
}
form i, header i {
    color: rgb(22, 240, 22); 
    font-size: 20px;
    margin-bottom: 10px;
}
.form_agregar_producto {
    border-radius: 10px;
    background: black;    
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}
.form_agregar_producto form div {
    margin: 0;
    padding: 0.5rem;  
}
.form_agregar_producto label {
    color:  #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}
.form_agregar_producto form button,
.form_agregar_producto form input,
.form_agregar_producto form textarea,
.form_agregar_producto select {
    width: 100%;
    padding: .7em;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    outline: 0;
    color: black;
}
.form_agregar_producto form button:hover,
.form_agregar_producto form button:focus {
    background: hsl(154, 59%, 51%);
    color: #fff;
    transition: background-color 0.5s ease-out;
    outline: 0;
}
.form_agregar_producto form button {
    margin-top: 50px;
    background: hsl(248, 32%, 49%);
    text-transform: uppercase;
    padding: 1rem;
    color: black;
    font-weight: bold;
}
.form_info {
    background:hsl(249, 10%, 26%);
    border: 10px solid rgba(219, 207, 207, 0.25);
    margin-top: 20px;
}
.form_info h3 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}
.text-danger {
    color: var(--red);
}
.errores {
    color: var(--red);
}
div label input.check {
    width: 15px;
    height: 15px;
    top: -6px;
}
.form_agregar_producto button.button {
    margin-top: 10px;
}
.form_agregar_producto p.terminos {
    margin-top: -10px;
}

/* ------------------------------ */
/* MEDIAS QUERY */
/* ------------------------------ */

@media (min-width: 760px) {
    main {
        padding: 0 2rem;
    }    
    .contenedor_form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .contenedor_form > * {
        padding: 3rem;
    }
    .form_info {
        margin-top: 0px;
    }
    .form_info h3 {
        margin-top: -20px;
    }
    .form_info p {
        margin-top: 5px;
    }
    header.informacion-lateral h3 {
        font-size: 2rem;
    }
}

@media (min-width: 1140px) {
    main {
        padding: 0 2rem;
    }    
    .contenedor_form {
        display: grid;
        grid-template-columns: 1.2fr 1.8fr;
        gap: 2rem;
    }
    .contenedor_form > * {
        padding: 4rem;
    }
    .form_info p {
        margin-top: 3rem;
    }
    header.informacion-lateral h3 {
        font-size: 2.5rem;
    }
}





