:root {
    --fuentePrincipal: 'Ubuntu', sans-serif; 
    --negro: #0c0d0c;  
    --grisOscuro: #121217;
    --azulClaro: #1a3c7d;
    --azulMedio: #06296b;
    --azulOscuro: #05183c;
    --grisOscuro: #222222;
    --grisMedio: #444444;
    --blanco: #ffffff;
    --negro: #000000;
    --cyan: cyan;
    --red: red;
    --yellowGreen: yellowgreen;
    --celestePaula: #109dfa;
}

body {
    font-family: var(--fuentePrincipal);
}

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */

.main-header {
    background-color: var(--negro);
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.logo-svg {
    display: none;
}

.contenedor2 {
    display: flex;
    justify-content: center;
}

.contenedor-barra {
    margin-top: 18px;
    margin-left: 10px;
}

.barraBusqueda {
    border-radius: 5px;
    position: relative;
    left: 10px;
}

.nav-bar {
    display: flex;
    position: relative;
    right: 30px;
}

.nav-bar li a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: 600;
    font-size: 1rem;
    padding-left: 10px;
}

.fa, .fas {
    color: var(--celestePaula)
}

.contenedor-img {  
    display: none;
}

/* ------------------------------ */
/* MAIN */
/* ------------------------------ */

.contenedor, .contenedor__dt, .contenedor-main {
    background-color: var(--grisOscuro);
}

.contenedor__dt {
    padding-bottom: 10px;
}

.titulo__producto, .titulo__producto__dt {
    color: var(--blanco);
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-top: 1.5rem;
    width: 100%;
}

/* ------------------------------ */
/* GRID */
/* ------------------------------ */

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;

}

/* ------------------------------ */
/* PRODUCTO */
/* ------------------------------ */

.producto, .producto__dt {
    background-color: var(--grisMedio);
    padding: 1.5rem;
    border-radius: 1rem;
    text-decoration: none;    
}

.producto__dt {
    margin: 10px;
    border: 2px solid var(--blanco);
}

.producto:hover {
    box-shadow: 0px 0px 5px 5px var(--celestePaula);
    transition: all 0.5s;
}

.producto a {
    text-decoration: none;
}

.producto__imagen, .producto__imagen__dt {
    width: 100%;    
    border-radius: 0.5rem;
}

.producto__imagen:hover {
    box-shadow: 0px 0px 5px 5px var(--blanco);
    transition: all 0.5s;
}

.producto__imagen:hover {
    cursor: default;
}

.producto__nombre {
    font-size: 2rem;
    color: var(--celestePaula);   
}

.producto__precio {
    font-size: 2rem;
    color: var(--blanco);
}

.producto__nombre, .producto__precio,
.producto__nombre__dt, .producto__precio__dt {
    text-align: center;
    margin: 0.5rem 0;
    font-weight: bold;
}

.producto__nombre__dt {
    font-size: 2rem;
    color: var(--celestePaula);
}

.producto__precio__dt {
    font-size: 1.8rem;
    color: var(--blanco);
}

.producto__informacion__dt a {
    text-decoration: none;
}

.contenedor__producto__desc__dt, .contenedor__producto__carac__dt {
    text-align: center;
    border-top: 1px solid var(--blanco);
}

.contenedor__producto__desc__dt h3, .contenedor__producto__carac__dt h3 {
    color: var(--celestePaula);
}

.contenedor__producto__desc__dt p, .contenedor__producto__carac__dt p {
    color: var(--blanco);
}

/* ------------------------------ */
/* GRID 2 */
/* ------------------------------ */

.grid_2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.tipo__producto {
    background-color: #000000;
    border-radius: 6px;
    border: 1px solid yellowgreen;
}

.tipo__producto:hover {
    box-shadow: 0px 0px 3px 3px var(--blanco);
}

.tipo__producto__informacion p {
    color: yellowgreen;
    font-weight: 550; 
}

/* ------------------------------ */
/* MENU */
/* ------------------------------ */

.navegacion {
    display: flex;
    justify-content: space-around;
    color: var(--blanco);
}


.sub__menu li a, .sub__menu2  li a {
    text-decoration: none;
    color: var(--celestePaula);
    font-weight: 550;
}

.sub__menu2 {
    position: relative;
    right: 30px;
}

/* ------------------------------ */
/* TIPO PRODUCTO */
/* ------------------------------ */

.tipo__producto {
    display: none;
}

.tipo__producto__icon {
    width: 100%;
    text-align: center;
}

.tipo__producto__nombre {
    text-align: center;
    color: var(--blanco);
}

.tipo__producto a {
    text-decoration: none;
}

/* ------------------------------ */
/* FOOTER */
/* ------------------------------ */

.footer {
    background-color: var(--negro);
    padding: 30px;
}

.contenedor-footer {
    background-color: var(--negro);
}

.barra {
    text-align: center;
}

.logo {
    text-decoration: none;
    color: var(--celestePaula);
}

.logo-nombre {
    font-size: 40px;
    font-weight: normal;
}

.logo-bold {
    font-weight: bold;
}

.navegacion-enlace {
    text-decoration: none;
    color: var(--blanco);
}

/* ---------------------------- */
/* CARRITO EJS */
/* ---------------------------- */

/* .body__cto {
    background-color: #F2F2F2;
    margin: 0;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
} */

.contenedor-main {
    padding-top: 20px;
}

.contenedor-main-imagen {
    border: 2px solid var(--blanco);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 470px;
    margin: 0 auto;
    width: 340px;
}

.titulo img{
    box-shadow: 1px 1px 4px 4px var(--celestePaula);
    width: 300px;
    /* height: auto; */
    border-radius: 5px;
}

.titulo{
    text-align: center;
}

.titulo h2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid #ccc; */
    color: var(--blanco);
    margin-top: 0px;
    font-size: 35px;
    margin-top: 10px;
}

.iconos{
    display: flex;
    justify-content: space-around;
    max-width: 350px;
    margin: 0 auto;
}

.iconos a{
    color: #000000;
}

.iconos a:hover{
    color: #444;
}


.precio{
    text-align: center;
}

.precio h4{
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;
    color: var(--blanco);
}

.precio p{
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 30px;
    color: var(--celestePaula);
    margin-top: 0px;
    font-weight: bold;
}

.precio h6{
    margin-top: 10px;
    color: var(--blanco);
    font-size: 14px;
}

.descripcion{
    border-top: 1px solid #D1D1CB;
    background-color: #E3E3DC;
    font-size: 14px;
    line-height: 1.7em;
    font-style: italic;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caracteristica h4{
    margin-bottom: 5px;
    text-align: center;
}

.caracteristica div{
    line-height: 1.4em;
    border-bottom: 1px solid #ccc;
    height: auto;
    text-align: center;
}

/* ---------------------------- */
/* MEDIA QUERYS */
/* ---------------------------- */

@media (min-width: 480px) {  
    .main-header {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;
    }
    .logo-svg {       
        display: block;
        width: 100px;
        margin-left: 15px;
        margin-top:15px;
    }  
    .contenedor2-1 {
        position: relative;
        top: 20px;
    }
    .nav-bar {
        position: relative;
        right: 15px;
    }
    .nav-bar li a {
        font-size: 12px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
    }
    .grid_2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
    }   
    div section h2 {
        padding: 3px;
        font-size: 10px;
    }   
    .iconos{
    max-width: 350px;
    margin: 0 auto;
}
}

@media (min-width: 768px) {
    .main-header {
        display: flex;
        flex-direction: row;
    }   
    .barraBusqueda {
        position: relative;
        left: 30px;
    }
    .contenedor2 {
        display: flex;
        flex-direction: column;      
    }
    .contenedor2-1 {
        margin-left: 40px;
    }
    .nav-bar {
        position: relative;
        right: 0px;
    }
    .nav-bar li a {
        font-size: 14px;
    }
    .contenedor-img {
        display: block;
        position: relative;
        top: 15px;
        left: 30px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 1rem;
    }   
    .grid_2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding: 1rem;
    }
    .imagen__extra {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        background-image: url(../images/imagen_extra.png);       
    }
    .imagen__extra2 {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
        background-image: url(../images/imagen_extra2.png);       
    }
    .imagen__extra, .imagen__extra2 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .tipo__producto {
        display: block;
    }   
    .producto__dt {
        width: 720px;
        margin: 0 auto;
    }    
    .producto__imagen__dt {
        width: 715px;
    }   
}

@media (min-width: 1140px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding: 1rem;
    }
    .grid_2 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
        padding: 1rem;
    }
    .imagen__extra {
        grid-row: 2 / 3;
        grid-column: 1 / 4;  
        background-image: url(../images/imagen_extra.png);        
    }
    .imagen__extra2 {
        grid-row: 4 / 5;
        grid-column: 2 / 5;
        background-image: url(../images/imagen_extra2.png);       
    }
    .imagen__extra,
    .imagen__extra2 {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}


