<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head')%>

<body>

    <%- include('./partials/header')%>

    <main class="contenedor">
        <h1 class="titulo__producto">Productos Destacados</h1>
        <div class="grid">
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/monitor05.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Monitor LG 19"</p>
                        <p class="producto__precio">$15.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/monitor02.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Monitor Philips 21"</p>
                        <p class="producto__precio">$20.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/monitor01.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Monitor Glast 20"</p>
                        <p class="producto__precio">$18.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/monitor04.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Monitor Philips 23"</p>
                        <p class="producto__precio">$28.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/monitor05.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Monitor LG 22"</p>
                        <p class="producto__precio">$25.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/placa05.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Terjeta Gráfica AMD RX 600 XT</p>
                        <p class="producto__precio">$150.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/placa02.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Tarjeta Gráfica MSI N210</p>
                        <p class="producto__precio">$140.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/placa03.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Tarjeta Gráfica MSI GT730</p>
                        <p class="producto__precio">$180.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/placa04.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Tarjeta Gráfica Power Color RX 550</p>
                        <p class="producto__precio">$132.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/placa05.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Tarjeta Gráfica Gigabyte RX 6600 RT Pro</p>
                        <p class="producto__precio">$200.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/gabinete02.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Gabinete Air Cool</p>
                        <p class="producto__precio">$5.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/gabinete05.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Gabinete Raidmax</p>
                        <p class="producto__precio">$6.500</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/gabinete04.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Gabinete Air Cool Max</p>
                        <p class="producto__precio">$8.000</p>
                    </div>
                </a>
            </div>
            <div class="producto">
                <a href="/products/producto">
                    <img class="producto__imagen" src="/images/gabinete05.png" alt="imagen monitor01">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Gabinete Raidmax Pro</p>
                        <p class="producto__precio">$9.500</p>
                    </div>
                </a>
            </div>
            <div class=" grafico imagen__extra"></div>
            <div class="grafico imagen__extra2"></div>
        </div>
        <h1 class="titulo__producto">¿Que estas buscando?</h1>
        <nav class="navegacion">
            <ul class="sub__menu">
                <li><a href="#">Memorias RAM</a></li>
                <li><a href="#">Discos Rigidos</a></li>
                <li><a href="#">Placas de Video</a></li>
                <li><a href="#">Mouses</a></li>
                <li><a href="#">Procesadores</a></li>
                <li><a href="#">Auriculares</a></li>
            </ul>
            <ul class="sub__menu2">
                <li><a href="#">Monitores</a></li>
                <li><a href="#">SSD</a></li>
                <li><a href="#">Motherboards</a></li>
                <li><a href="#">Teclados</a></li>
                <li><a href="#">Coolers</a></li>
                <li><a href="#">Accesorios</a></li>
            </ul>
        </nav>
        <div class="grid_2">
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Memorias RAM</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Discos Rigidos</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Placas de Video</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Mouses</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Procesadores</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Auriculares</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Monitores</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">SSD</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Motherboards</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Teclados</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Coolers</p>
                    </div>
                </a>
            </div>
            <div class="tipo__producto">
                <a href="#">
                    <p class="tipo__producto__icon"><svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-devices-pc" width="76" height="76" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M3 5h6v14h-6z" />
                            <path d="M12 9h10v7h-10z" />
                            <path d="M14 19h6" />
                            <path d="M17 16v3" />
                            <path d="M6 13v.01" />
                            <path d="M6 16v.01" />
                        </svg></p>
                    <div class="tipo__producto__informacion">
                        <p class="tipo__producto__nombre">Accesorios</p>
                    </div>
                </a>
            </div>
        </div>
    </main>

    <%- include('./partials/footer')%>

</body>

</html>